<!DOCTYPE html>
<html>
<head>
	<title> Login Form</title>
<link rel="stylesheet" type="text/css" href="logincss.css">
		
</head>
<body >
	<br>
	<br>
	<br>
	<div class="container" style="margin: auto; text-align:center"; border: 5px solid black; >
		<div class="row">
		<div class="col-md-3">
					
		</div>
				
		<div class="col-md-6 main">
					
			<h1>login</h1>

<form action="/login" method="POST">
	<input type="text" name="email" id="name"
		placeholder="Email">
		<br>
		<br>
	<input type="password" name="password" id="password"
		placeholder="Password">
		<br>
		<br>
	<input type="submit" id="submitDetails"
			name="submitDetails" value="Submit" /><br>
</form>

<h1>More action</h1>

<li><a href="/register">Sign up!!</a></li>	
		</div>
				
				
		<div class="col-md-3">
		</div>
				
	</div>
	</div>
</body>
</html>	
